{$APP_URL} {
    root * /var/www/html/public

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data: blob:; connect-src 'self' wss:; font-src 'self'"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    php_fastcgi app:9000
    file_server
    encode gzip
}
